doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Vishakha tutions | Education
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='manifest' href='site.webmanifest')
  link(rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico')
  // CSS here
  link(rel='stylesheet' href='assets/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/owl.carousel.min.css')
  link(rel='stylesheet' href='assets/css/slicknav.css')
  link(rel='stylesheet' href='assets/css/flaticon.css')
  link(rel='stylesheet' href='assets/css/progressbar_barfiller.css')
  link(rel='stylesheet' href='assets/css/gijgo.css')
  link(rel='stylesheet' href='assets/css/animate.min.css')
  link(rel='stylesheet' href='assets/css/animated-headline.css')
  link(rel='stylesheet' href='assets/css/magnific-popup.css')
  link(rel='stylesheet' href='assets/css/fontawesome-all.min.css')
  link(rel='stylesheet' href='assets/css/themify-icons.css')
  link(rel='stylesheet' href='assets/css/slick.css')
  link(rel='stylesheet' href='assets/css/nice-select.css')
  link(rel='stylesheet' href='assets/css/style.css')
// ? Preloader Start
#preloader-active
  .preloader.d-flex.align-items-center.justify-content-center
    .preloader-inner.position-relative
      .preloader-circle
      .preloader-img.pere-text
        img(src='assets/img/logo/loder.png' alt='')
// Preloader Start
// Header Start
.header-area.header-transparent
  .main-header
    .header-bottom.header-sticky
      .container-fluid
        .row.align-items-center
          // Logo
          .col-xl-2.col-lg-2
            .logo
              a(href='index.html')
                img(src='assets/img/logo/logo1.png' alt='')
          .col-xl-10.col-lg-10
            .menu-wrapper.d-flex.align-items-center.justify-content-end
              // Main-menu
              .main-menu.d-none.d-lg-block
                nav
                  ul#navigation
                    li.active
                      a(href='/homepage') Home
                    li
                      a(href='/subjects') Courses
                    li
                      a(href='https://forms.gle/Aeien3BchwjL1SKV7') Contact
                    // Button
                    li.button-header.margin-left
                      a.btn(href=' https://forms.gle/uC4kbqAB2UtECD2c8') Join
                  
          // Mobile Menu
          .col-12
            .mobile_menu.d-block.d-lg-none
// Header End
  // Header End
main
  // ? slider Area Start
  section.slider-area
    .slider-active
      // Single Slider
      .single-slider.slider-height.d-flex.align-items-center
        .container
          .row
            .col-xl-6.col-lg-7.col-md-12
              .hero__caption
                h1(data-animation='fadeInLeft' data-delay='0.2s')
                  | Online learning
                  br
                  |  platform
                p(data-animation='fadeInLeft' data-delay='0.4s')
                  | Build skills with courses,books and best material avalilable online from world-class instructor 
                a.btn.hero-btn(href='https://forms.gle/uC4kbqAB2UtECD2c8' data-animation='fadeInLeft' data-delay='0.7s') Register Today
  // ? services-area
  .services-area
    .container
      .row.justify-content-sm-center
        .col-lg-4.col-md-6.col-sm-8
          .single-services.mb-30
            .features-icon
              img(src='assets/img/icon/icon1.svg' alt='')
            .features-caption
              h3 8 Courses
              p History | Geography | Civics | Maths | Sociology | Hindi | Sanskrit | Economics .
        .col-lg-4.col-md-6.col-sm-8
          .single-services.mb-30
            .features-icon
              img(src='assets/img/icon/icon2.svg' alt='')
            .features-caption
              h3 Supported for both CSBE & ICSE
              p All our couses are available for both CBSE and ICSE boards
        .col-lg-4.col-md-6.col-sm-8
          .single-services.mb-30
            .features-icon
              img(src='assets/img/icon/icon3.svg' alt='')
            .features-caption
              h3 Neogtiable Price
              p Pay for the amount of time you want to study. No more paying full fees for semester.
  // Courses area start
  .courses-area.section-padding40.fix
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Our featured courses
      .courses-actives
        // Single
        .properties.pb-20
          .properties__card
            .properties__img.overlay1
              a(href='#')
                img(src='images/history3.jpg' alt='')
            .properties__caption
              p Available for both CBSE & ICSE
              h3
                a(href='#') History 
              p
                | Learn about our past and understand clearly the details of every event that happened and ace your exam
              .properties__footer.d-flex.justify-content-between.align-items-center
                .restaurant-name
                  .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half
                  p
                    span (4.5)
                    |  based on Reviews
                .price
                  
              a.border-btn.border-btn2(href='tel:+91 9019641522') Find out more
        // Single
        // Single
        .properties.pb-20
          .properties__card
            .properties__img.overlay1
              a(href='#')
                img(src='images/economics.jpg' alt='')
            .properties__caption
              p Available for both CSBE and ICSE
              h3
                a(href='#') Ecomnomics
              p
                | Understand the fundamentals of economy and clear your base concepts to get that A grade on your next exam
              .properties__footer.d-flex.justify-content-between.align-items-center
                .restaurant-name
                  .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half
                  p
                    span (4.5)
                    |  based on Reviews
                .price
                  
              a.border-btn.border-btn2(href='tel:+91 9019641522') Find out more
        // Single
        // Single
        .properties.pb-20
          .properties__card
            .properties__img.overlay1
              a(href='#')
                img(src='images/hin.jpg' alt='')
            .properties__caption
              p Available for Both CBSE and ICSE
              h3
                a(href='#') Hindi
              p
                | Learn hindi in a easy way and never make those same mistakes as you used to do. Bye - Bye rot learning
              .properties__footer.d-flex.justify-content-between.align-items-center
                .restaurant-name
                  .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half
                  p
                    span (4.5)
                    |  based on Reviews
                .price
                  
              a.border-btn.border-btn2(href='tel:+91 9019641522') Find out more
        // Single
        // Single
        .properties.pb-20
          .properties__card
            .properties__img.overlay1
              a(href='#')
                img(src='images/mountains1.jpg' alt='')
            .properties__caption
              p Available for both CBSE and ICSE
              h3
                a(href='#') Geography
              p
                | Learn geography in an interactive way . No more rot learning , understand the core-concepts and ace your exam.
              .properties__footer.d-flex.justify-content-between.align-items-center
                .restaurant-name
                  .rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star-half
                  p
                    span (4.5)
                    |  based on 120
                .price
                  
              a.border-btn.border-btn2(href='tel:+91 9019641522') Find out more
        // Single
  // Courses area End
  // ? About Area-1 Start
  section.about-area1.fix.pt-10
    .support-wrapper.align-items-center
      .left-content1
        .about-icon
          img(src='assets/img/icon/about.svg' alt='')
        // section tittle
        .section-tittle.section-tittle2.mb-55
          .front-text
            h2 Learn new skills online with 5 star rated instructor 
            p
              | No more paying for the entire semester when you only want to study for a limited time
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p Learn Techniques to improve your learning capacity and be on the top of every field 
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p Actual reviews from students taught before who significantly improved their grades
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p
              | Latest up-to-date teching methods to improve the workflow and making online learning natural
      .right-content1
        // img
        .right-img
        .video-icon
            a.popup-video.btn-icon(href='https://www.youtube.com/watch?v=-sNWKbnaFkg')
              i.fas.fa-play
              
  // About Area End
  // ? top subjects Area Start
  .topic-area.section-padding40
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Explore top subjects
      .row
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/ny.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') History
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/hindi.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Hindi
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/civics.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Civics
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/maths.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Maths
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/socio.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Sociology
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/sans.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Sanskrit
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/mountains1.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Geography
        .col-lg-3.col-md-4.col-sm-6
          .single-topic.text-center.mb-30
            .topic-img
              img(src='images/economics.jpg' alt='')
              .topic-content-box
                .topic-content
                  h3
                    a(href='#') Economics
          br
          br
          
  // top subjects End
  // ? About Area-3 Start
  section.about-area3.fix
    .support-wrapper.align-items-center
      .right-content3
        // img
        .right-img
          img(src='assets/img/gallery/about3.png' alt='')
      .left-content3
        // section tittle
        .section-tittle.section-tittle2.mb-20
          .front-text
            h2 Learner outcomes on courses you will take
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p Techniques to engage effectively with vulnerable children and young people.
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p
              | Join with other kids and learn with joy
              
        .single-features
          .features-icon
            img(src='assets/img/icon/right-icon.svg' alt='')
          .features-caption
            p
              | Making Online study easy and affordable to everyone 
    section.team-area.section-padding40.fix
    .container
      .row.justify-content-center
        .col-xl-7.col-lg-8
          .section-tittle.text-center.mb-55
            h2 Students of following school's have been tutored before  
      .team-active
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/' alt='')
          .cat-cap
            h5
              a GreenWood High 
            
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team2.png' alt='')
          .cat-cap
            h5
              a Ekya ITPL
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a The International School Bangalore
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team4.png' alt='')
          .cat-cap
            h5
              a DPS EAST
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a DPS WHITEFIELD
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a RYAN Internatioanl school, Kundanahalli
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a National Public School
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a DEENS Academy
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a ST. Joseph's Boys High School
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a Baldwin's Girls High School 
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a Global Indian International School
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a VIBGYOR High
            p
            br
            br
        .single-cat.text-center
          .cat-icon
            img(src='assets/img/gallery/team3.png' alt='')
          .cat-cap
            h5
              a Chrysalis High
            p
            br
            br

       

footer
      .footer-wrappper.footer-bg
        // Footer Start
        .footer-area.footer-padding
          .container
            .row.justify-content-between
              .col-xl-4.col-lg-5.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .single-footer-caption.mb-30
                    // logo
                    .footer-logo.mb-25
                      a(href='index.html')
                        img(src='assets/img/logo/logo1.png', alt='')
                    .footer-tittle
                      .footer-pera
                        p We aim at giving our best and helping the world move forward.
                    // social
                    .footer-social
                      a(href='#')
                        i.fab.fa-twitter
                      a(href='#')
                        i.fab.fa-facebook-f
                      a(href='#')
                        i.fab.fa-pinterest-p
              .col-xl-2.col-lg-4.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .footer-tittle
                    h4 Support
                    ul
                      li(style='color:aliceblue;') vishakha.mathur@hotmail.com
                      li(style='color:aliceblue;') +91 9019641522
                      li(style='color:aliceblue;') Bangalore
                      li(style='color:aliceblue;') India
              .col-xl-2.col-lg-3.col-md-4.col-sm-6
                .single-footer-caption.mb-50
                  .footer-tittle
                    h4 Subjects
                    ul
                      li
                        a Hindi
                      li
                        a Sanskrit
                      li
                        a History
                      li
                        a More
        // footer-bottom area
        .footer-bottom-area
          .container
            .footer-border
              .row.d-flex.align-items-center
                .col-xl-12
                  .footer-copy-right.text-center
                    p(style='font-size: small;') Design By Pritam / Puranjay
        // Footer End
        // Scroll Up
        #back-top
          a(title='Go to Top', href='#')
            i.fas.fa-level-up-alt
        // JS here
        script(src='./assets/js/vendor/modernizr-3.5.0.min.js')
        // Jquery, Popper, Bootstrap
        script(src='./assets/js/vendor/jquery-1.12.4.min.js')
        script(src='./assets/js/popper.min.js')
        script(src='./assets/js/bootstrap.min.js')
        // Jquery Mobile Menu
        script(src='./assets/js/jquery.slicknav.min.js')
        // Jquery Slick , Owl-Carousel Plugins
        script(src='./assets/js/owl.carousel.min.js')
        script(src='./assets/js/slick.min.js')
        // One Page, Animated-HeadLin
        script(src='./assets/js/wow.min.js')
        script(src='./assets/js/animated.headline.js')
        script(src='./assets/js/jquery.magnific-popup.js')
        // Date Picker
        script(src='./assets/js/gijgo.min.js')
        // Nice-select, sticky
        script(src='./assets/js/jquery.nice-select.min.js')
        script(src='./assets/js/jquery.sticky.js')
        // Progress
        script(src='./assets/js/jquery.barfiller.js')
        // counter , waypoint,Hover Direction
        script(src='./assets/js/jquery.counterup.min.js')
        script(src='./assets/js/waypoints.min.js')
        script(src='./assets/js/jquery.countdown.min.js')
        script(src='./assets/js/hover-direction-snake.min.js')
        // contact js
        script(src='./assets/js/contact.js')
        script(src='./assets/js/jquery.form.js')
        script(src='./assets/js/jquery.validate.min.js')
        script(src='./assets/js/mail-script.js')
        script(src='./assets/js/jquery.ajaxchimp.min.js')
        // Jquery Plugins, main Jquery
        script(src='./assets/js/plugins.js')
        script(src='./assets/js/main.js')
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='js/jquery-3.2.1.min.js')
        script(src='js/popper.js')
        script(src='js/bootstrap.min.js')
        script(src='js/stellar.js')
        script(src='vendors/nice-select/js/jquery.nice-select.min.js')
        script(src='vendors/owl-carousel/owl.carousel.min.js')
        script(src='js/owl-carousel-thumb.min.js')
        script(src='js/jquery.ajaxchimp.min.js')
        script(src='vendors/counter-up/jquery.counterup.js')
        script(src='js/mail-script.js')
        // gmaps Js
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
        script(src='js/gmaps.min.js')
        script(src='js/theme.js')
